/*.container{
    background-color: palegoldenrod;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 100px;
    padding-left: 20px;
    border: 2px solid green;
    box-sizing: border-box;
}
.child1{
    background-color: yellow;
    width: 200px;
    height: 85px;
    border-radius: 50%;
    border: 5px dotted rgb(3, 73, 3);
}

div+p{
    background-color: aqua;
}*/

.container{
    background-color: gray;
    height: 500px;;
    width: 1000px;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.child1,.child2,.child3,.child4{
    border : 2px solid green;
    height: 300px;
    width: 200px;
}

.child1{
    display: flex ;
    width: 220px;
    gap: 4px;
    flex-basis: 50%;
}

.child11,.child12,.child13,.child14
{
    border: 2px dotted red;
    flex-basis: 25%;
}
.child11
{
    background-color: palegoldenrod;
}
.child12
{
    background-color: palegreen;
}
.child13
{
    background-color: paleturquoise;
}
.child14
{
    background-color: palevioletred;
}


